<!DOCTYPE html>
<html {{ enable_preloader ? 'class="preloader-active"' : '' }} {{ language_attributes() }}>
    <head profile="http://www.w3.org/1999/xhtml/vocab">
        <meta charset="<?php bloginfo( 'charset' ); ?>" />

        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta http-equiv="cleartype" content="on">

        <!-- Preconnect to Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        {{ wp_head() }}
    </head>

    <body {{ body_class( 'twig' ) }} {{ enable_preloader ? 'style="display: none;"' : '' }}>
        <!-- Header
        ============================================= -->
        <header class="header-{{ page_header_style }} header-{{ page_header_position }} transition" {{ header_background_color != '' ? ( 'style="background-color: ' ~ header_background_color ~ ';"' ) | raw : '' }}>
            <div class="uk-container">
                <nav class="uk-navbar-container uk-navbar-transparent">
                    <div uk-navbar>
                        <div class="uk-navbar-left">
                            {% include 'template-parts/twig/site-logo.twig' %}
                        </div>

                        <div class="uk-navbar-center">
                            <div class="uk-margin-medium-left uk-visible@m">
                                {# Header navigation #}
                                {% if has_nav_menu('primary') %}
                                    {{ wp_nav_menu({
                                        'theme_location'    : 'primary',
                                        'walker'            : uikit_menu_walker,
                                        'items_wrap'        : '<ul class="uk-navbar-nav">%3$s</ul>'
                                    }) }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="uk-navbar-right">
                            <a class="uk-navbar-toggle uk-navbar-toggle-animate uk-hidden@m" href="#offcanvas" uk-navbar-toggle-icon uk-toggle></a>
                        </div>
                    </div>
                </nav>
            </div>
        </header> <!-- Header end -->

        {# Offcanvas #}
        {% include 'template-parts/twig/offcanvas.twig' %}