{% if block_global_settings is defined and block_global_settings is not empty %}
    {# Get block titles #}
    {% set block_titles = block_global_settings.block_titles is not empty ? block_global_settings.block_titles : null %}
{% endif %}

{# Display titles #}
{% if block_titles is not empty %}
    <div class="block-titles uk-child-width-1-1 uk-grid-small" uk-grid>
        {% for block_title in block_titles %}
            {# Set title tag #}
            {% set title_tag = block_title.title_tag is not null ? block_title.title_tag : 'h2' %}

            {# Set title align #}
            {% set title_align = block_title.title_align is not null and block_title.title_align != 'left' ? 'uk-text-' ~ block_title.title_align : '' %}

            {# Convert title margins value 'normal' to UI Kit default 'uk-margin' #}
            {% set title_top_margin     = block_title.title_top_margin == 'normal' ? 'uk-margin-top' : 'uk-margin-' ~ block_title.title_top_margin ~ '-top' %}
            {% set title_bottom_margin  = block_title.title_bottom_margin == 'normal' ? 'uk-margin-bottom' : 'uk-margin-' ~ block_title.title_bottom_margin ~ '-bottom' %}

            {# Remove title margins if user select 'None' #}
            {% set title_top_margin     = block_title.title_top_margin == 'none' ? 'uk-margin-remove-top' : title_top_margin %}
            {% set title_bottom_margin  = block_title.title_bottom_margin == 'none' ? 'uk-margin-remove-bottom' : title_bottom_margin %}

            {# Set title margins custom values #}
            {% set title_top_margin_custom     = block_title.title_top_margin_custom is not null and block_title.title_top_margin == 'custom' ? 'margin-top: ' ~ block_title.title_top_margin_custom ~ 'px;' : '' %}
            {% set title_bottom_margin_custom  = block_title.title_bottom_margin_custom is not null and block_title.title_bottom_margin == 'custom' ? 'margin-bottom: ' ~ block_title.title_bottom_margin_custom ~ 'px;' : '' %}

            {# Title #}
            <{{ title_tag }} class="uk-{{ block_title.title_style }} uk-width-{{ block_title.title_width }}@m {{ title_align }} {{ title_top_margin }} {{ title_bottom_margin }}" style="{{ title_top_margin_custom }} {{ title_bottom_margin_custom }}">
                {{ block_title.title | raw }}
            </{{ title_tag }}>
        {% endfor %}
    </div>
{% endif %}