    <div class="content-media-block {{ block_details.media.media_type == 'icon' or block_details.viewport_height ? 'content-media-viewport-height' : '' }} {{ block_details.media.media_type == 'icon' ? 'content-media-icon' : '' }}">
        {% if block_details.fullwidth %}
            {# Image #}
            {% if block_details.media.media_type == 'image' and block_details.media.image is defined and block_details.media.image %}
                <div class="cover-image {{ block_details.viewport_height ? 'viewport-height' : '' }} uk-position-{{ block_details.layout == 'default' ? 'right' : 'left' }} uk-position-z-index uk-width-{{ block_details.media_column_width }}@m uk-height-1-1 uk-visible@m" style="background-image: url('{{ block_details.media.image.url | e }}');"></div>
            {% endif %}

            {# Icon #}
            {% if block_details.media.media_type == 'icon' and block_details.media.icon is defined and block_details.media.icon %}
                <div class="content-media-icon-wrapper uk-width-{{ block_details.media_column_width }}@m {{ block_details.viewport_height ? 'viewport-height' : '' }} uk-position-{{ block_details.layout == 'default' ? 'right' : 'left' }} uk-flex uk-flex-center uk-flex-middle" {% if block_details.media.icon_background != '' %}style="background-color: {{ block_details.media.icon_background }};"{% endif %}>
                    <img class="uk-preserve" src="{{ block_details.media.icon.url | e }}" alt="{{ block_details.media.icon.alt | e }}" width="{{ block_details.media.icon.width }}" height="{{ block_details.media.icon.height }}" uk-svg>
                </div>
            {% endif %}
        {% endif %}

        <div class="uk-container">
            <div class="content-block {{ block_details.viewport_height ? 'viewport-height' : '' }} uk-grid-xlarge {{ block_details.vertical_align is not null ? 'uk-flex-' ~ block_details.vertical_align : '' }}" uk-grid>
                <div class="uk-width-{{ block_details.media_column_width }}@m uk-text-center uk-position-relative">
                    {% if not block_details.fullwidth %}
                        <div>
                            {# Image #}
                            {% if block_details.media.media_type == 'image' and block_details.media.image is defined and block_details.media.image %}
                                <img class="uk-visible@m" src="{{ block_details.media.image.url | e }}" alt="{{ block_details.media.image.alt | e }}">
                            {% endif %}

                            {# Video - YouTube #}
                            {% if block_details.media.media_type == 'video' and block_details.media.video_type == 'youtube' %}
                                <iframe class="uk-visible@m" src="https://www.youtube-nocookie.com/embed/{{ block_details.media.youtube_video_id | e }}?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" width="1920" height="1080" allowfullscreen uk-responsive uk-video="automute: true"></iframe>
                            {% endif %}

                            {# Video - MP4 #}
                            {% if block_details.media.media_type == 'image' and block_details.media.video_type == 'mp4' %}
                                <video class="uk-visible@m" src="{{ block_details.media.mp4_video | e }}" width="1920" height="1080" controls playsinline hidden uk-video></video>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                <div class="uk-width-expand@m {{ block_details.layout == 'default' ? 'uk-flex-first@m' : '' }} uk-text-{{ block_details.content.text_align }}">
                    {# Separator #}
                    {% if block_details.media.media_type == 'icon' %}
                        <hr class="uk-invisible uk-margin-xlarge-top uk-margin-large-bottom uk-hidden@m">
                    {% endif %}

                    {# Title and subtitle #}
                    {% include 'builder/partials/block-titles.twig' with { 'block_global_settings': block_global_settings } %}

                    {# Content #}
                    {% if block_details.content.content != '' %}
                        <div class="uk-margin-top">{{ block_details.content.content | raw }}</div>
                    {% endif %}

                    {# CTA button #}
                    {% if block_global_settings.have_cta %}
                        <div class="uk-child-width-auto@s uk-flex-{{ block_details.content.text_align }} uk-margin-top uk-grid-small" uk-grid>
                            {{ get_ctas( block_global_settings.have_cta ) }}
                        </div>
                    {% endif %}

                    {# Separator #}
                    {% if block_details.media.media_type == 'icon' %}
                        <hr class="uk-invisible uk-margin-xlarge-top uk-margin-large-bottom uk-hidden@s">
                    {% else %}
                        <hr class="uk-invisible uk-hidden@m">
                    {% endif %}
                </div>
            </div>

            {# Image #}
            {% if block_details.media.media_type == 'image' and block_details.media.image is defined and block_details.media.image %}
                <img class="uk-hidden@m" src="{{ block_details.media.image.url | e }}" alt="{{ block_details.media.image.alt | e }}" width="{{ block_details.media.image.width }}" height="{{ block_details.media.image.height }}">
            {% endif %}

            {# Video - YouTube #}
            {% if block_details.media.media_type == 'video' and block_details.media.video_type == 'youtube' %}
                <iframe class="uk-hidden@m" src="https://www.youtube-nocookie.com/embed/{{ block_details.media.youtube_video_id | e }}?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" width="1920" height="1080" allowfullscreen uk-responsive uk-video="automute: true"></iframe>
            {% endif %}

            {# Video - MP4 #}
            {% if block_details.media.media_type == 'image' and block_details.media.video_type == 'mp4' %}
                <video class="uk-hidden@m" src="{{ block_details.media.mp4_video | e }}" width="1920" height="1080" controls playsinline hidden uk-video></video>
            {% endif %}
        </div>
    </div>
</section> <!-- Content Media Grid block end -->