    <div class="content-block">
        <div class="uk-container">
            <div class="uk-flex uk-flex-center">
                <div class="uk-width-{{ block_details.content_width }}@m uk-text-{{ block_details.text_align }}">
                    {# Title and subtitle #}
                    {% include 'builder/partials/block-titles.twig' with { 'block_global_settings': block_global_settings } %}

                    {# Content #}
                    <div class="uk-margin-top">{{ block_details.content | raw }}</div>

                    {# CTA button #}
                    {% if block_global_settings.have_cta %}
                        <div class="uk-child-width-auto@s uk-flex-{{ block_details.text_align }} uk-margin-medium-top uk-grid-small" uk-grid>
                            {{ get_ctas( block_global_settings.have_cta ) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section> <!-- Content block end -->