
{% set filters = '' %}

{# Create class from filter tags #}
{% if categories is not empty %}
    {% for category in categories %}
        {% set filters = filters ~ ' tag-' ~ category.slug %}
    {% endfor %}
{% endif %}

<article class="post-single-box uk-position-relative {{ filters }}">
    <div class="post-single-box-wrapper uk-cover-container uk-light">
        <a href="{{ get_the_permalink( post.ID ) }}">
            {% set featured_image_url = get_the_post_thumbnail_url( post.ID, thumbnail_size ) %}

            {# Featured image #}
            {% if featured_image_url %}
                <img src="{{ featured_image_url | e }}" alt="{{ post.title | e }}" uk-cover>
            {% endif %}

            <div class="uk-overlay-primary uk-position-cover"></div>
        </a>
    </div>

    <div class="post-single-box-details">
        {# Categories #}
        {% if categories is not empty %}
            <div class="simple-terms-list">
                {% for term in categories %}
                    <a href="{{ get_term_link( term ) }}">{{ term.name }}{% if not loop.last %},&nbsp;{% endif %}</a>
                {% endfor %}
            </div>
        {% endif %}

        <div class="post-single-box-content uk-margin-small-top">
            <h3>
                <a href="{{ get_the_permalink( post.ID ) }}">
                    {{ post.post_title }}
                </a>
            </h3>

            <div class="post-single-box-excerpt uk-margin-small-top">
                {{ post.post_excerpt }}
            </div>
        </div>
    </div>
</article>