{% if block_global_settings is defined and block_global_settings is not empty %}
    {# Get titles order #}
    {% set order_first = order_first is defined ? order_first : 'title' %}

    {# Get details #}
    {% set title = block_global_settings.title %}
    {% set title_tag = block_global_settings.title_tag is not null ? block_global_settings.title_tag : 'h2' %}
    {% set title_style = block_global_settings.title_style %}
    {% set subtitle = block_global_settings.subtitle %}
    {% set subtitle_tag = block_global_settings.subtitle_tag is not null ? block_global_settings.subtitle_tag : 'h4' %}
    {% set subtitle_style = block_global_settings.subtitle_style %}
    {% set disable_global_title = block_global_settings.disable_global_title is defined ? block_global_settings.disable_global_title : false %}
    {% set disable_global_subtitle = block_global_settings.disable_global_subtitle is defined ? block_global_settings.disable_global_subtitle : false %}
{% endif %}

{# Display titles #}
{% if title is defined or subtitle is defined %}
    <div class="block-titles uk-child-width-1-1" uk-grid>
        {# Title #}
        {% if title is defined and title != '' and not disable_global_title %}
            <div{% if order_first == 'subtitle' %} class="uk-flex-last"{% endif %}>
                <{{ title_tag }} class="uk-{{ title_style }}">{{ title }}</{{ title_tag }}>
            </div>
        {% endif %}

        {# Subtitle #}
        {% if subtitle is defined and subtitle != '' and not disable_global_subtitle %}
            <div>
                <{{ subtitle_tag }} class="uk-{{ subtitle_style }} uk-margin-remove-top">{{ subtitle }}</{{ subtitle_tag }}>
            </div>
        {% endif %}
    </div>
{% endif %}